<div class="flex space-x-4 items-center w-full">
    <label class="w-2/6 text-left block mb-2 text-md font-medium dark:text-gray-300" for="recipe-name">
        Recipe name
    </label>
    <input
            class="w-3/6 rounded-lg dark:bg-gray-300 focus:border-indigo-700 focus:ring-indigo-700"
            id="recipe-name"
            name="name"
            placeholder="Recipe name"
            required
            type="text"
            <%= disabled === true ? 'disabled' : '' %>
            value="<%= (typeof ma02 === 'undefined') ? '' : ma02.name %>"/>
    <span class="w-1/6 text-left block mb-2 text-md font-medium dark:text-gray-300">&nbsp</span>
</div>

<div class="flex space-x-4 items-center w-full">
    <label class="w-2/6 text-left block mb-2 text-md font-medium dark:text-gray-300" for="recipe-pressure-a">
        Differential pressure A area
    </label>
    <input
            class="w-3/6 rounded-lg dark:bg-gray-300 focus:border-indigo-700 focus:ring-indigo-700"
            id="recipe-pressure-a"
            name="pressureA"
            placeholder="0"
            required
            type="number"
            <%= disabled === true ? 'disabled' : '' %>
            value="<%= (typeof ma02 === 'undefined') ? '' : ma02.pressureA %>"/>
    <span class="w-1/6 text-left block mb-2 text-md font-medium dark:text-gray-300">Pa</span>
</div>

<div class="flex space-x-4 items-center w-full">
    <label class="w-2/6 text-left block mb-2 text-md font-medium dark:text-gray-300" for="recipe-pressure-a">
        Differential pressure B area
    </label>
    <input
            class="w-3/6 rounded-lg dark:bg-gray-300 focus:border-indigo-700 focus:ring-indigo-700"
            id="recipe-pressure-a"
            name="pressureB"
            placeholder="0"
            required
            type="number"
            <%= disabled === true ? 'disabled' : '' %>
            value="<%= (typeof ma02 === 'undefined') ? '' : ma02.pressureB %>"/>
    <span class="w-1/6 text-left block mb-2 text-md font-medium dark:text-gray-300">Pa</span>
</div>

<div class="flex space-x-4 items-center w-full">
    <label class="w-2/6 text-left block mb-2 text-md font-medium dark:text-gray-300" for="recipe-pressure-alarm">
        Differential pressure alarm
    </label>
    <input
            class="w-3/6 rounded-lg dark:bg-gray-300 focus:border-indigo-700 focus:ring-indigo-700"
            id="recipe-pressure-alarm"
            name="pressureAlm"
            placeholder="100"
            required
            type="number"
            <%= disabled === true ? 'disabled' : '' %>
            value="<%= (typeof ma02 === 'undefined') ? '' : ma02.pressureAlm %>"/>
    <span class="w-1/6 text-left block mb-2 text-md font-medium dark:text-gray-300">Pa</span>
</div>